.categories-section {
  margin-top: 60px;
  padding: 0 80px;
  }

.categories-title {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

.categories-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background-color: #f8bebc;
  border-radius: 2px;
}

.categories-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0 14px;
  scrollbar-width: none;
}

.categories-scroll::-webkit-scrollbar {
  display: none;
}

.category-banner {
  flex: 0 0 330px;
  height: 200px;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.category-banner:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.categories-scroll-wrapper {
  position: relative;
}

.scroll-arrow {
  position: absolute;
  top: 50%; /* places top edge of the el at 50% of the parent's height */
  transform: translateY(-50%); /* centers the element base don its own size */
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.27);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  line-height: 1;
  padding-bottom: 2px;
}

.scroll-arrow.left {
  left: -60px;
}

.scroll-arrow.right {
  right: -60px;
}

.scroll-arrow:hover {
  background: rgba(0, 0, 0, 0.65);
}


@media (max-width: 768px) {
  .categories-section {
    padding: 0 30px;
  }

  .category-banner {
    flex: 0 0 180px;
    height: 120px;
  }

  .categories-title {
    font-size: 24px;
  }

  .scroll-arrow.left {
    left: -40px;
  }

  .scroll-arrow.right {
    right: -40px;
  }

  .scroll-arrow {
     width: 30px;
     height: 30px;
  }

}

