<nav class="navbar">

  <div class="navbar-left">
    <img
      src="assets/logo.png"
      alt="Servio logo"
      class="logo"
      (click)="goHome()"
    />
  </div>

  <div class="navbar-right">

    <button
      class="icon-btn"
      [class.disabled]="!authService.isLoggedIn()"
      aria-label="User profile"
      (click)="goToProfile()"
    >
      <img src="assets/user-icon.png" alt="User" />
    </button>

    <button
      class="icon-btn"
      [class.disabled]="!authService.isLoggedIn()"
      aria-label="Cart"
    >
      <img src="assets/cart-icon.png" alt="Cart" />

      @if (cartCount > 0) {
        <span class="cart-badge">
          {{ cartCount }} <!-- dynamic => calls the function every time Angular detects a change on screen and reflects the change in html -->
        </span>
      }
    </button>

  </div>
</nav>
