<section class="hero">
  <div class="hero-content">
    <h1>
      ENJOY FRESH MEALS<br />
      DELIVERED STRAIGHT TO YOUR DOOR
    </h1>

    <div class="hero-buttons">
      <button class="btn btn-login" (click)="openLogin()">LOGIN</button>
      <button class="btn btn-register" (click)="openRegister()">REGISTER</button>
    </div>
  </div>
</section>

@if (showRegisterModal) { <!-- create the modal if showRegisterModal == true -->
  <app-register-modal (closed)="closeRegister()" /> <!--when the child component emits the closed event, call the method in the parent-->
}

@if (showLoginModal) {
  <app-login-modal (closed)="closeLogin()" />
}
