<section class="hero">
  <div class="hero-content">
    <h1>
      ENJOY FRESH MEALS<br />
      DELIVERED STRAIGHT TO YOUR DOOR
    </h1>

    <div class="hero-buttons">
      @if (!authService.isLoggedIn()) {
        <button class="btn btn-login" (click)="openLogin()">LOGIN</button>
        <button class="btn btn-register" (click)="openRegister()">REGISTER</button>
      }

      @if (authService.isLoggedIn()) {
        <button class="btn btn-login" (click)="logout()">LOGOUT</button>
      }
    </div>
  </div>
</section>

<!-- listens for and catches the cuisineSelected event -->
<!-- when the child sends a message cuisineSelected, onCuisineSelected is called -->
<app-cuisine-categories
  (cuisineSelected)="onCuisineSelected($event)"
></app-cuisine-categories>

@if (showRegisterModal) { <!-- create the modal if showRegisterModal == true -->
  <app-register-modal (closed)="closeRegister()" (registered)="handleRegistrationSuccess()"/> <!--when the child component emits the closed event, call the method in the parent-->

}

@if (showLoginModal) {
  <app-login-modal (closed)="closeLogin()" />
}

@if (showRegisterSuccess) {
  <app-registration-success-modal
    (loginRequested)="goToLoginFromSuccess()"
  />
}

