<section class="hero">
  <div class="hero-content">
    <h1>
      ENJOY FRESH MEALS<br />
      DELIVERED STRAIGHT TO YOUR DOOR
    </h1>

    <div class="hero-buttons">
      @if (!authService.isLoggedIn()) {
        <button class="btn btn-login" (click)="openLogin()">LOGIN</button>
        <button class="btn btn-register" (click)="openRegister()">REGISTER</button>
      }

      @if (authService.isLoggedIn()) {
        <button class="btn btn-login" (click)="logout()">LOGOUT</button>
      }
    </div>
  </div>
</section>

<!-- listens for and catches the cuisineSelected event -->
<!-- when the child sends a message cuisineSelected, onCuisineSelected is called -->
<app-cuisine-categories
  (cuisineSelected)="onCuisineSelected($event)"
></app-cuisine-categories>


<section class="restaurants-wrapper">

  <div class="restaurants-header">
    <h1 class="section-title">RESTAURANTS</h1>

    <!-- DESKTOP FILTERS -->
    <div class="filters-desktop">
      <!-- event is the new filters object -->
      <app-restaurant-filters
        (filtersChanged)="onFiltersChanged($event)">
      </app-restaurant-filters>
    </div>

    <!-- MOBILE FILTER BUTTON -->
    <button
      class="filters-button-mobile"
      (click)="toggleFilters()">
      ☰
    </button>

    <!-- MOBILE POPUP -->
    @if (showFiltersModal) {
      <div class="filters-popup">
        <app-restaurant-filters
          (filtersChanged)="onFiltersChanged($event)">
        </app-restaurant-filters>

        <button
          class="apply-filters-btn"
          (click)="toggleFilters()">
          Apply filters
        </button>
      </div>
    }
  </div>



  <!-- sets the child's restaurant input to restaurant variable from App -->
  <app-restaurants-list
    [restaurants]="restaurants">
  </app-restaurants-list>

</section>



@if (showRegisterModal) { <!-- create the modal if showRegisterModal == true -->
  <app-register-modal (closed)="closeRegister()" (registered)="handleRegistrationSuccess()"/> <!--when the child component emits the closed event, call the method in the parent-->

}

@if (showLoginModal) {
  <app-login-modal (closed)="closeLogin()" />
}

@if (showRegisterSuccess) {
  <app-registration-success-modal
    (loginRequested)="goToLoginFromSuccess()"
  />
}




