<div class="modal-backdrop">
  <div class="modal">

    <div class="modal-banner"></div>

    <div class="modal-content">
      <h2>REGISTER</h2>

      <button class="close-btn" (click)="close()">×</button>

      <form (ngSubmit)="register()" #registerForm="ngForm">

        <input type="text" name="username" placeholder="Username" [(ngModel)]="username" required minlength="4" #usernameModel="ngModel"/>
        @if (usernameModel.invalid && usernameModel.touched) {
          <p class="error">
            * Username must be at least 4 characters
          </p>
        }
        <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required #emailModel="ngModel" />
        @if (emailModel.invalid && emailModel.touched) {
          <p class="error">
            * Please enter a valid email address
          </p>
        }
        <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required minlength="6" pattern="^(?=.*[A-Za-z])(?=.*\d)$" #passwordModel="ngModel" />
        @if (emailModel.invalid && emailModel.touched) {
          <p class="error">
            * Password has to be at least 6 characters long and must contain letters and numbers
          </p>
        }

        <button class="register-btn" type="submit" [disabled]="registerForm.invalid">REGISTER</button>

      </form>

    </div>

  </div>
</div>
